*.txt~
patterns/producer-centric-views/catalog-v001.xml
patterns/core/catalog-v001.xml
patterns/core/catalog-v001.xml
patterns/core/catalog-v001.xml
patterns/core/catalog-v001.xml
voc/gebco/catalog-v001.xml
.gitignore
voc/nvs/catalog-v001.xml