body {
   padding-top: 50px;
}

.padding {
   padding: 40px 15px;
}

.oceanlink-title {
   float: left;
   padding: 15px 15px;
   font-size: 18px;
   line-height: 20px;
   color: #ffffff;
}

.oceanlink-title:hover {
   color:#ffffff;
   text-decoration: none;
}

table td {
  padding-right: 20px;
}

table th {
  padding-right: 20px;
}
